.searchContainer{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}
.searchInput{
    width: 400px;
    border-radius: 10px;
    height: 50px;
}
.imgIcon{
    position: absolute !important;
    left: 10px !important;
    top:10px;
    z-index: 1000;
}
.input-icons i {
    position: absolute;
}
 
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
 
.icon {
    padding: 10px;
    min-width: 40px;
}
 
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}
